<d-datatable #tableRef [gridData]="gridData" [pageSize]="2" [height]="'40vh'" [gridTitle]="'Country Data'">
    <d-column [label]="'Name'" [dataKey]="'countryName'" [width]="'400px'" [hidden]="hided-column">
    </d-column>
    <d-column [label]="'Code'" [dataKey]="'countryCode'" [width]="'1000PX'"></d-column>
    <d-column [label]="'Code2'" [dataKey]="'countryCode2'" [width]="'200PX'">
        <ng-template #columnTemplate let-row="row">
            {{row.countryCode2}} yyyyy {{column}}
        </ng-template>
    </d-column>
</d-datatable>